body{
    /* padding: Margem interna. */
    /* margin: Margem externa. */
    /* border: Borda de todo elemento HTML. */

    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #212121;
    color: #ffffff;
    font-family: Tahoma;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    width: 30%;
    background-color: #c4c4c4;
    padding: 42px;
    margin-top: 80px;
    border-radius: 8px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}

label{
    margin-bottom: 6px;
}

input{
    width: 320px;
    height: 32px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-bottom: 55px;
}

button{
    width: 320px;
    height: 32px;
    background-color: #0a00c4;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #076600;
}

footer{
    width: 100%;
    margin-top: 120px;
    padding: 32px 0px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}